{% extends 'muscovite/base.html' %}

{% block content%}
{% if user.is_authenticated %}
<h1>You're Already Logged In</h1>
Dopey sod....
{% else %}


<div class="col-md-6 offset-md-3">
  <h1>Login</h1>
</div>
<hr>

<form method="POST" action="{% url 'login' %}" >
  {% csrf_token %}
  <div class="mb-3">
    <input type="text" class="form-control" name="username" placeholder="Enter Your Username..">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="password" placeholder="Enter you Password">
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>

{% endif %}

{% endblock %}
